/* Search Page */
:root {
  --animation-time: 0.45s;
}


.search-input-el:focus {
  outline: none;
}

.btn:hover {
  opacity: 0.7;
}

.search-container-slide-up {
  animation: var(--animation-time) searchContainerSlideUp cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes searchContainerSlideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-7rem);
  }
}

.shorten-header-font-size {
  animation: var(--animation-time) shortenHeaderFontSize forwards;
}

@keyframes shortenHeaderFontSize {
  0% { font-size: 2rem; }
  100% { font-size: 1rem; }
}

.enlarge-search-font-size {
  animation: var(--animation-time) enlargeSearchFontSize forwards;
}

@keyframes enlargeSearchFontSize {
  0% { font-size: 1.5rem; }
  100% { font-size: 2.5rem; }
}
