/* Search Page */

body {
  font-family: 'Open Sans', serif;
  color: #353A3F;
  background-color: #F8F9FC;
}

.search-container {
  background-color: #fff;
  box-shadow: rgba(23,43,99,0.26) 0 7px 42px;
}

.search-header {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #34495e;
}

.search-input-el {
  font-family: 'Open Sans', serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(53, 58,	63, 0.8);
  caret-color: #7f8c8d;
}

.search-input-el::placeholder {
  opacity: 0.2;
}

.btn {
  color: #34495e;
  text-decoration: none;
  box-shadow: rgba(23,43,99,0.26) 0 7px 42px;
  font-weight: bold;
  border-radius: 1rem;
  font-size: 0.75rem;
  border: 1px solid #34495e;
}
